<div>
<label for="title">제목</label><input type="text" name="title" id="title"><br>

<label for="user">작성자</label><input type="text" name="user" id="user" readonly><br>

<label for="contents">내용</label><textarea name="contents" id="contents" cols="30" rows="10"></textarea>
<!-- <input type="text" name="contents" id="contents"><br> -->

<input type="submit" value="수정">
</div>
