<div>
    <form action="/board/create" method="post">
        <table border="1">
            <tr>
                <td style="background-color: dodgerblue;">제목</td>
                <td><input style="width: 100%;" type="text" name="title" id="title"></td>
            </tr>
            <tr>
                <td style="background-color: dodgerblue;">내용</td>
                <td><textarea name="contents" id="contents" cols="30" rows="10"></textarea></td>
            </tr>    
        </table>
        <br>
        <input type="submit" value="등록">
    </form>
</div>

